.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  gap: 1rem;

  .items {
    width: 60%;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
  }
}
